;; org.httpkit.server/with-channel binds `channel` like `let`; clj-kondo
;; doesn't know that shape without this hint.
{:linters {:unresolved-symbol {:exclude [(org.httpkit.server/with-channel [channel])]}}}
